<!DOCTYPE html>
<html lang="ru">
<html>
<head>
<meta charset="utf-8">
<title>Опрос</title>
</head>
<body>

<h2>Вопрос {{ question.id }}</h2>
<p>Выберите один из вариантов ответа:</p>

<h1>{{ question.text }}</h1>
<form>
    {% csrf_token %}
    {% for answer in answers %}
        <input type="radio" name="answer" value="{{ answer.id }}"> {{ answer.text }}<br>
    {% endfor %}
    <button onclick="redirect(event)">Ответить</button>
</form>

<script>
    function redirect(event) {
        event.preventDefault();
        var selectedAnswer = document.querySelector('input[name="answer"]:checked').value;
        var url = window.location.href.split('/').slice(0, -2).join('/') + "/" + selectedAnswer + "/";
        window.location.href = url;
    }
</script>



</body>
</html>
