<!DOCTYPE html>
<html lang="ru">
<html>
<head>
<meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<title>Опрос</title>
</head>
<body>
<body style="background-color: #f5f5f8;">


    <div class="menu">
        <div class="row">
            <div class="col-lg-4 offset-lg-1">
                <h1 class="text-style">
                        <strong>Права подержанных вещей</strong>
                </h1>
            </div>

            <div class="col-lg-4 offset-lg-3">

                    <form class="form-inline">
                        <div class="form-group lg-7">
                            <input type="text" class="form-control" name="search" placeholder="Поиск">
                        </div>
                        <div class="form-group lg-4 offset-lg-1">
                            <button type="submit button" class="btn btn-dark">Найти</button>
                        </div>
                    </form>
                </div>
            </div>

        <div class="row">
                <div class="col-lg-2 offset-lg-7">
                    <button type="button" class="btn  btn-lg btn-block btn-style-2 btn-sm" onclick="window.location.href = 'tag_search/'">Каталог статей</button>
                </div>
                <div class="col-lg-2 ">
                    <button type="button" class="btn btn-style-2 btn-lg btn-block btn-sm" onclick="window.location.href = 'all_docs/'">Каталог Шаблонов</button>
                </div>
        </div>
    </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="question-blok text-center text-style">
                        <h3>
                        {% for word in question.question_wording.split %}
                            {% if word == "технически_сложным?" %}
                                <a href="/articles/С_Что_такое_технически_сложный_товар.html">{{ word }}</a>
                            {% elif word == "основанием_для_возврата_товара" %}
                                <a href="https://www.consultant.ru/document/cons_doc_LAW_373622/46388f66cceb1d9479e5a70e5710c912dc4f3579/">{{ word }}</a>
                            {% elif word == "срок_службы" %}
                                <a href="/articles/С-Что_такое_срок_службы.html">{{ word }}</a>
                            {% elif word == "товаром_длительного_пользования?" %}
                                <a href="/articles/С_Что_такое_товар_длительного_пользования.html">{{ word }}</a>
                            {% else %}
                                {{ word }}
                            {% endif %}
                        {% endfor %}
                        </h3>
                    </div>
                    <p class="text-style text-center">Выберите один из вариантов ответа:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="blok text-center ">
                        <form>
                            {% csrf_token %}
                            {% for answer in answers %}
                            <div class="form-radio-btn" checked>
                                <input  type="radio" name="answer" value="{{ answer.next_question.id }}" data-answer-solution-id="{{ answer.solution.id }}" data-answer-solution="{{ answer.solution }}">
                                <label> {{ answer.text }}</label>
                            </div>
                            {% endfor %}
                            <br>
                            <br>
                            <button type="button" class="btn btn-success" onclick="redirect(event)">Ответить</button>
                        </form>
                    </div>
                </div>
            </div>




            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <button type="button" class="btn btn-light" onclick="goBack()">Назад</button>
                    <button type="button" class="btn btn-light" onclick="goHome()">На главную</button>
                </div>

            </div>

        </div>
    </div>

    




    <script>
        function redirect(event) {
            event.preventDefault();
            var selectedAnswer = document.querySelector('input[name="answer"]:checked').value;
            var selectedAnswerSolution = document.querySelector('input[name="answer"]:checked').dataset.answerSolution;
            var selectedAnswerSolutionId = document.querySelector('input[name="answer"]:checked').dataset.answerSolutionId;
            console.log(selectedAnswerSolutionId)
            if (selectedAnswerSolution == "None") {
                var url = window.location.href.split('/').slice(0, -2).join('/') + "/" + selectedAnswer + "/";
                window.location.href = url;
            } else {
                var url = window.location.href.split('/').slice(0, -4).join('/') + '/solution/' + selectedAnswerSolutionId + '/';
                window.location.href = url;
            }
        }

        function goBack(){
            history.back();
        }

        function goHome(){
            window.location.href = "/";
        }

    </script>
    
    
    
    </body>
    </html>