<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block content %}
<body lang="en-US" vlink="#800000" dir="ltr">
<div title="header"><p class="western" style="line-height: 100%; margin-bottom: 0.26in">
	<br/>

	</p>
</div><p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.17in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">К</span></b></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b><span style="background: #ffffff">ак
вернуть товар</span></b></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">
с гарантийным сроком или без</span></b></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="zh-TW"><b><span style="background: #ffffff">?
</span></b></span></font></font></span></font></font>
</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.17in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Гарантийный
срок (ссылка на статью про гарантийный
срок) — это определенный период, в
течение которого продавец или производитель
обязаны обеспечить надлежащее качество
товара. Если в течение такого срока в
товаре были обнаружены недостатки, то
Вы можете вернуть товар. Гарантийный
срок является важным элементом при
возврате или обмене товара ненадлежащего
качества. Данная статья предусматривает
этапы возврата и обмена товара. </span></span></font></font></span></font></font>
</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.17in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">Узнаем,
истек ли срок подачи требований о
возврате товара. </span></b></span></font></font></span></font></font>
</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.17in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">По
общему правилу, согласно </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><u><span style="background: #ffffff">Закону
о защите прав потребителей</span></u></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">
(ссылка на п.1 ст.19 ЗоЗПП) Вы можете вернуть
товар и получить за него деньги в течение
гарантийного срока. </span></span></font></font></span></font></font>
</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.17in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Однако,
если гарантийный срок истек, но не прошло
двух лет со дня передачи Вам товара, то
Вы также можете обратиться к продавьцу
для возврата/обмена товара. Но необходимо
будет доказать, что недостаток товара
возник д</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><u><span style="background: #ffffff">о
его передачи</span></u></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">
или по причинам, которые возникли еще
до дня передачи товара Вам </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">(п.
6 ст. 18, п. 5 ст. 19 </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">ЗоЗПП</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">).</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.17in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Если
гарантийный срок не установлен, то свои
требования Вы можете предъявить в
разумный срок, но в пределах двух лет
со дня, как Вам был передан товар. Также
могут быть установлены более длительные
сроки, такие условия могут быть
предусмотрены отдельно в договоре. </span></span></font></font></span></font></font>
</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">Какие
нужны документы для возврата товара</span></b></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b><span style="background: #ffffff">.&nbsp;</span></b></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Необходимо
составить претензию в письменной форме</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Данная
претензия составляется в простой форме</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
однако, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">в
ней следует указать определенную
информацию</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">:&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0.22in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">1)</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">наименование
продавца</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">:</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">
наименование или фамилию</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">имя</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">отчество
</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">(</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">при
наличии</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">)
продавца, адрес его места нахождения
(</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">жительства</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">),
телефон, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">адрес
электронной почты </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">(если
известен).</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">	Если
какая</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">-то
информация Вам неизвестна, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">обратитесь
к чеку или квитанции за товар</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">где
должны указываться данные продавца</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">2)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">данные
потребителя</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">:
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Ваши
фамилия</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">имя</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">отчество
</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">(</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">при
наличии</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">),
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">адрес
места жительства с почтовым индексом</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">контактный
телефон</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">адрес
электронной почты </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">(</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">если
имеется</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">)</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">3)
описание приобретенного товара и его
цена: </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">можно
указать размер расходов</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">связанных
с приобретением товара</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
например</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">,
стоимость доставки или установки
товара</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">4)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">дату
покупки товара</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">5)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">описание
проблемы</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">связанной
с приобретенным товаром</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">6)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">требование
к продавцу</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">7)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">дату
и подпись</span></span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">		</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">К
претензии необходимо приложить
определенные документы</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">	Как
правило</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">таким
документом является кассовый чек или
иной документ</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">подтверждающий
факт покупки товара например</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">выписка
из банка</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">	Если
же у Вас нет чека</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">то
не значит</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">что
деньги за товар Вам не вернуть</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Кассовый
или товарный чек либо иной документ</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">удостоверяющих
факт и условия покупки товара</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">не
</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><u><span style="background: #ffffff">является
основанием для отказа в удовлетворении
требований (сделать ссылку на п.5 ст.18
ЗоЗПП)</span></u></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">&nbsp;Подтверждением
приобретения и оплаты товара могут
быть</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
например, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">свидетельские
показания</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">	</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">Как
отправить претензию продавцу. </span></b></span></font></font></span></font></font>
</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">После
составления</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">
претензи</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">и
</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">и
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">сбора
остальных документов их необходимо
направить</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">
продавцу. </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Посмотрите
в договоре, как именно нужно отправлять
сообщения продавцу. Если договором это
не предусмотрено</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">тогда
согласно ст</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
165.1 </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">ГК
РФ и Информации Роспотребназора претензию
можно отправить</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">:&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><span style="background: transparent"><span style="background: #ffffff">&nbsp;<font face="Helvetica Neue, serif"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt">	1)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">По
почте или с помощью иных служб доставки</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Вы
можете направить претензию почтовым
отправлением с уведомлением о вручении
и описью вложения</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Однако
не запрещено и отправить документы на
электронную почту</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
однако важно, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">чтобы
было понятно</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">от
кого исходит сообщение и кому оно
адресовано</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; text-indent: 0.67in; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">2)
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Лично
путем подачи претензии уполномоченному
лицу</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Им
может быть директор магазина</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">старший
администратор</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">секретарь
и иные лица</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Также
рекомендуется изготовить два экземпляра
претензии — одну отдать продавцу</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">вторую
оставить себе</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">Зачем
проводить экспертизу товара?</span></b></span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">После
получения претензии продавец обязан
принять товар</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Однако</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">он
может провести проверку для того</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">чтобы
убедиться</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">что
товар действительно является
некачественным</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Необходимо
иметь в виду</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">что
проверка качества товара - понятие более
широкое и может включать в себя проведение
экспертизы</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Экспертиза
товара проводится</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
как правило, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">специальными
экспертными организациями и является
дополнительной проверкой качества
товара с привлечением специалистов</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">В
случае</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">если
экспертиза придет к выводу</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">что
недостаток товара возник не по вине
продавца</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">то
вы должны будете возместить ему </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><u><span style="background: #ffffff">расходы</span></u></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">которые
он взял на себя при проведении экспертизы</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
(</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Опять
ссылка на </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">п.5
ст.18 ЗоЗПП)</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><b><span style="background: #ffffff">Финальный
этап — получение денежных средств.</span></b></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><b><span style="background: #ffffff">&nbsp;</span></b></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Если
продавец согласен и признает претензию</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">то
необходимо оформить возврат товара и
денежных средств</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.&nbsp;</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">Срок
возврата денег, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">уплаченных
за некачественный товар</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">составляет
</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><u><span style="background: #ffffff">10
</span></u></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><u><span style="background: #ffffff">дней
со дня предъявления требования</span></u></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">
(</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">ссылка
на </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">ст.
22 ЗоЗПП).</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">При
возврате товара, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">оплаченного
банковской картой</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">денежные
средства перечисляются на банковскую
карту</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">которой
вы оплачивали товар</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Если
товар был оплачен наличными</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">деньги
могут быть возвращены как из кассы</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">так
и путем перечисления на банковскую
карту</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<font color="#000000"><font face="Helvetica Neue, serif"><span style="background: transparent"><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">В
этом случае покупателю следует учитывать
требования банковского законодательства</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
в частности пункта </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">1
Указания Банка России от </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">09.12.2019
N 5348-У, пункта 6.1 </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">Указания
Банка России от </span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">11.03.2014
N 3210-У, </span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">которые
предполагают право продавца требовать
предоставления паспорт или иного
документа</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">,
</span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span lang="ru-RU"><span style="background: #ffffff">удостоверяющих
личность</span></span></font></font><font face="Times New Roman, serif"><font size="4" style="font-size: 14pt"><span style="background: #ffffff">.</span></font></font></span></font></font></p>
<p lang="ru-RU" align="justify" style="font-variant: normal; letter-spacing: normal; font-style: normal; font-weight: normal; line-height: 100%; margin-bottom: 0in; text-decoration: none">
<br/>

</p>
<div title="footer"><p class="western" style="line-height: 100%; margin-top: 0.16in; margin-bottom: 0in">
	<br/>

	</p>
</div>
<button type="button" class="btn btn-light" onclick="goBack()">Назад</button>
<button type="button" class="btn btn-light" onclick="goHome()">На главную</button>
</body>

</html>
<script>
    function goBack(){
        history.back();
    }

    function goHome(){
        window.location.href = "/";
    }
</script>

{% endblock %}