{% extends 'base.html' %}

{% block content %} 

<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Что
такое б/у товары?</b></font></font></h2>
<p align="justify" style="line-height: 100%; margin-left: 0.01in; margin-right: 0.01in; margin-top: 0.01in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Бывшие
в употреблении товары (б/у товары) — это
товары, которые уже использовались, но
находятся в удовлетворительном состоянии
для повторной продажи.</font></font></p>
<p align="justify" style="line-height: 100%; margin-left: 0.01in; margin-right: 0.01in; margin-top: 0.01in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Действующее
законодательство не содержит понятия
«товар, бывший в употреблении». Это
понятие содержится только в утратившем
в настоящий момент силу межгосударственном
Соглашении</font></font><sup><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><a class="sdfootnoteanc" name="sdfootnote1anc" href="#sdfootnote1sym"><sup>1</sup></a></font></font></sup><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">.
Согласно ему, товары, бывшие в употреблении
- это товары, имеющие видимые признаки
носки, стирки, эксплуатации.</font></font></p>
<p align="justify" style="line-height: 100%; margin-left: 0.01in; margin-right: 0.01in; margin-top: 0.01in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">В
отличие от новых товаров, б/у товары
могут иметь признаки износа, дефекты
или недостатки, что влияет на их стоимость
и условия эксплуатации. В российском
законодательстве покупка и продажа б/у
товаров регулируется нормами гражданского
права, а также Законом &quot;О защите прав
потребителей&quot;.</font></font></p>
<div id="sdfootnote1"><p style="line-height: 100%; margin-bottom: 0in">
	<a class="sdfootnotesym" name="sdfootnote1sym" href="#sdfootnote1anc">1</a><font face="Times New Roman, serif"><font size="2" style="font-size: 10pt">
	Соглашение между Правительством РФ,
	Правительством Республики Беларусь и
	Правительством Республики Казахстан
	от 18.06.2010 (ред. от 08.05.2015) &quot;О порядке
	перемещения физическими лицами товаров
	для личного пользования через таможенную
	границу таможенного союза и совершения
	таможенных операций, связанных с их
	выпуском&quot; (вместе с &quot;Порядком
	определения момента выпуска и объема
	двигателя авто-, мототранспортного
	средства&quot;)</font></font></p>
	<p style="line-height: 100%; margin-bottom: 0in"><br/>

	</p>
</div>



{% endblock %}