{% extends 'base.html' %}

{% block content %} 

<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Что
такое товар длительного пользования?</b></font></font></h2>
<p align="justify" style="line-height: 115%; margin-bottom: 0cm"><font color="#222222"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt">Товар
длительного пользования — это товар,
который предназначен для многократного
использования и имеет значительный
срок службы. Такой товар отличается
долговечностью и может использоваться
в течение нескольких лет или даже
десятилетий, сохраняя свои функциональные
характеристики и свойства. В российском
законодательстве товары длительного
пользования регулируются Законом &quot;О
защите прав потребителей&quot; (ЗоЗПП).</font></font></font></p>
<h2 class="western" align="justify"><a name="_bk6kx4o4mdbi"></a><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><b>Какое
время действует гарантия на товар
длительного пользования?</b></font></font></h2>
<p align="justify" style="line-height: 115%; margin-bottom: 0cm"><font color="#222222"><font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><a href="/articles/С-Что_такое_гарантииныи_срок.html#anchor_garant_srok"> Гарантийные
	сроки<!-- Ссылка на статью про гарантийный срок --></a>
на товары длительного пользования могут
варьироваться в зависимости от типа
товара и производителя, но обычно
составляют от 1 года. Эту информацию
можно посмотреть в <a href="/articles/С_Что_такое_технические_документы_на_товар.html"> документах на товар </a> <!-- Ссылка на статью про документы -->.</font></font></font></p>
<p style="margin-left: 1.27cm; margin-bottom: 0cm"><br/>

</p>

{% endblock %}